/*-------------------------------------    
CSS INDEX
===================================
#. Normalize and Defaults
#. Header
#. Footer
#. Sidebar
#. Banner
#. Contents
#. Comments
---------------------------------------*/

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
}

.form-control {
    display: block !important;
    width: 100% !important;
    max-width: inherit !important;
    padding: 10px 15px !important;
    font-size: 15px !important;
}

.form-label {
    width: 100%;
    font-size: 16px;
    display: block;
    padding: 10px 0;
}

#items-list table tr {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
}

#items-list .dashicons-plus-alt2::before {
    color: red !important;
}