#heymehedi-main .form-control {
  display: block !important;
  max-width: inherit !important;
  padding: 10px 15px !important;
  font-size: 14px !important;
  outline: none !important;
  border: 0px !important;
}

#heymehedi-main .form-control:focus-visible {
  display: block !important;
  width: 100% !important;
  max-width: inherit !important;
  padding: 10px 15px !important;
  font-size: 14px !important;
  outline: none !important;
}

#heymehedi-main .form-control:focus, #heymehedi-main #heymehedi-submit {
  box-shadow: none !important;
  outline: 0 !important;
  border: 0 !important;
}

#heymehedi-main .form-label {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  display: block;
}

#heymehedi-main label[for=priority] {
  padding-top: 15px;
}

#heymehedi-main table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  font-size: 14px;
}

#heymehedi-main thead, #heymehedi-main tbody {
  display: block;
}

#heymehedi-main tr:nth-child(even) {
  background-color: #fff;
}

#heymehedi-main td, #heymehedi-main th {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

#heymehedi-main tr {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
}

#heymehedi-main .dashicons-minus:before {
  color: red !important;
}

#heymehedi-main .dashicons-plus-alt2::before {
  color: green !important;
}

#heymehedi-main .wp-menu-image.dashicons-before.dashicons-plus-alt2 {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

#heymehedi-items-wrapper {
  position: relative;
  height: auto;
  max-height: 400px;
  overflow: auto;
}

#heymehedi-items-wrapper-selected {
  position: relative;
  max-height: 640px;
  height: auto;
  overflow: auto;
}

#heymehedi-submit {
  width: 100%;
  font-size: 14px;
  background: #d1e4dd;
  color: #070606;
  transition: .3s;
  border: 0;
  padding: 5px;
}

#heymehedi-submit:hover {
  background: #bcdacf;
}

#heymehedi-msg {
  text-align: center;
  font-size: 16px;
  height: 32px;
  margin-bottom: 0;
  font-style: italic;
}

#wp-heymehedi_custom_editor-editor-tools .wp-editor-tabs {
  float: left;
}

#heymehedi_custom_editor-tmce {
  margin: 0;
}

#heymehedi_custom_editor-html {
  margin: 0;
  margin-left: 5px;
}

#heymehedi-main h1 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}

#heymehedi-main h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 11px;
}

#heymehedi-main select, #heymehedi_the_title, #heymehedi_the_excerpt {
  margin-bottom: 15px;
}

#heymehedi-main .custom_url_box {
  margin-top: 15px !important;
}

select#redirection_type {
  margin-bottom: 0 !important;
}

#heymehedi-main #protection_type {
  margin-bottom: 0;
}

.heymehedi_setting_heading {
  margin-bottom: 17px;
  text-align: center;
}

.part1, .part2, .part3, .part4, .part5 {
  padding: 15px;
  background-color: #d1e4dd;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #a8d5c5;
}

#heymehedi-submit {
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #a8d5c5;
}

#heymehedi-main .helper-text img {
  max-width: 15px;
  margin-top: -2px;
  margin-left: 3px;
}

.popover.fade.bs-popover-right.show .arrow {
  transform: rotate(317deg);
}

.popover.fade.bs-popover-right.show {
  left: 15px !important;
}

.select2-search__field {
  width: 100% !important;
  font-size: 14px !important;
}

#heymehedi-main .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  padding-right: 5px;
}

#heymehedi-main input, #heymehedi-main select, #heymehedi-main .select2-container--default .select2-selection--multiple {
  border: none !important;
  border-radius: 0;
}

#heymehedi-main .select2-container--default .select2-selection--multiple {
  border: none !important;
  border-radius: 0;
  position: relative;
  padding: 5px;
  min-height: 48px;
  padding-top: 6px;
}

#heymehedi-main .select2.select2-container.select2-container--default, #heymehedi-main .select2.select2-container.select2-container--default.select2-container--above, #heymehedi-main .select2.select2-container.select2-container--default.select2-container--focus {
  width: 100% !important;
}