/*------------------------------------*\
    #. CSS Variables
\*------------------------------------*/
:root {
  --color-primary: #17b978;
}

/*------------------------------
#. List Table
-------------------------------*/
.slider-range.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  border: 3px solid #e0d6f9;
  background: #e0d6f9;
  font-weight: normal;
  color: #454545;
  position: relative;
}

input {
  color: #91929b;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

.fs-title {
  font-size: 25px !important;
  color: #25223f;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
  margin-left: -8px;
  border: 4px solid #c6bae3;
  background: #c6bae3;
  font-weight: normal;
  color: #454545;
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 50%;
  margin-top: -9px;
}

.slider-group {
  overflow: hidden;
  position: relative;
  background: #fff !important;
  padding: 15px;
  border-radius: 5px;
}

.toplevel_page_all-in-one-content-restriction .error {
  display: none;
}

#heymehedi-main .form-control {
  display: block !important;
  max-width: inherit !important;
  padding: 10px 15px !important;
  font-size: 14px !important;
  outline: none !important;
  border: 0px !important;
  border-radius: 8px;
}

#heymehedi-main .form-control:focus-visible,
#heymehedi-main .form-control:focus {
  display: block !important;
  width: 100% !important;
  max-width: inherit !important;
  padding: 10px 15px !important;
  outline: none !important;
}

#heymehedi-main .form-label {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  display: block;
}

#heymehedi-main table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  font-size: 14px;
  background-color: #eae9f1d1;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

#heymehedi-main thead,
#heymehedi-main tbody {
  display: block;
}

#heymehedi-main td,
#heymehedi-main th {
  border: 1px solid #fff;
  text-align: left;
  padding: 4px;
  cursor: pointer;
  font-size: 16px;
}

#heymehedi-main tr:nth-child(even) {
  background-color: #fff;
}

#heymehedi-main tr {
  display: grid;
  grid-template-columns: 2fr 2fr 19fr;
}

#heymehedi-main .dashicons-minus:before {
  color: red !important;
}

#heymehedi-main .dashicons-plus-alt2::before {
  color: green !important;
}

#heymehedi-main .wp-menu-image.dashicons-before.dashicons-plus-alt2 {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

#heymehedi-main h1 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}

#heymehedi-main h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 11px;
}

#heymehedi-main select,
#heymehedi-main #heymehedi_the_title,
#heymehedi-main #heymehedi_the_excerpt,
#heymehedi-main .slider-group {
  margin-bottom: 1rem;
}

#heymehedi-main #heymehedi_custom_editor_ifr {
  height: 140px !important;
}

#heymehedi-main .custom_url_box {
  margin-top: 15px !important;
}

#heymehedi-main #heymehedi-items-wrapper {
  position: relative;
  height: auto;
  max-height: 400px;
  overflow: auto;
  margin-top: 5px;
}

#heymehedi-main #heymehedi-items-wrapper-selected {
  position: relative;
  max-height: 640px;
  height: auto;
  overflow: auto;
  margin-top: 5px;
}

#heymehedi-main #heymehedi-msg {
  text-align: center;
  font-size: 16px;
  height: 32px;
  margin-bottom: 0;
  font-style: italic;
}

#heymehedi-main #wp-heymehedi_custom_editor-editor-tools .wp-editor-tabs {
  float: left;
}

#heymehedi-main #heymehedi_custom_editor-tmce {
  margin: 0;
}

#heymehedi-main #heymehedi_custom_editor-html {
  margin: 0;
  margin-left: 5px;
}

#heymehedi-main select#redirection_type {
  margin-bottom: 0 !important;
}

#heymehedi-main #protection_type {
  margin-bottom: 0;
}

#heymehedi-main .helper-text img {
  max-width: 15px;
  margin-top: -2px;
  margin-left: 3px;
}

#heymehedi-main .select2-container--default
.select2-selection--multiple
.select2-selection__rendered
li {
  padding-right: 5px;
}

#heymehedi-main input,
#heymehedi-main select,
#heymehedi-main .select2-container--default .select2-selection--multiple {
  border: none !important;
  border-radius: 0;
}

#heymehedi-main .select2-container--default .select2-selection--multiple {
  border: none !important;
  border-radius: 0;
  position: relative;
  padding: 5px;
  min-height: 48px;
  padding-top: 6px;
}

#heymehedi-main .select2.select2-container.select2-container--default,
#heymehedi-main .select2.select2-container.select2-container--default.select2-container--above,
#heymehedi-main .select2.select2-container.select2-container--default.select2-container--focus {
  width: 100% !important;
}

#heymehedi-main .select2-search.select2-search--inline {
  display: inline-block;
}

#heymehedi-main .select2.select2-container.select2-container--default {
  background: white;
}

#heymehedi-main .popover.fade.bs-popover-right.show .arrow {
  -webkit-transform: rotate(317deg);
          transform: rotate(317deg);
}

#heymehedi-main .popover.fade.bs-popover-right.show {
  left: 15px !important;
}

#heymehedi-main .select2-search__field {
  width: 100% !important;
  font-size: 14px !important;
  margin-bottom: 10px;
}

#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: #e8e2f8;
  border: 0 none;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  padding: 15px;
}

#msform fieldset .form-card {
  background: #e8e2f8;
  border: 0 none;
  border-radius: 0px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform .action-button {
  background: #323733;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 25px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
          box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
  background: #595c53;
}

#msform .action-button-previous {
  background: #323733;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 25px;
  margin: 40px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
          box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
  background: #595c53;
}

#msform .next.action-button,
#msform .heymehedi-submit {
  width: 45%;
}

#msform .previous.action-button-previous {
  width: 45% !important;
  display: inline-block;
  -webkit-text-decoration: auto;
          text-decoration: auto;
}
